<div class="form">
  <div class="box">
    <h2>投稿者  <%= "nnn "%></h2>
    <h3>コメント</h3> %>
    <%= link_to '詳細',"/top/#{comment.id}", method: :get , class: "detail_link" %>
  </div>

  <div class="box">
    <h2>投稿者  <%= "nnn "</h2> %>
    <h3>コメント</h3>
    <%= link_to '詳細',"/top/#{comment.id}", method: :get , class: "detail_link" %>
  </div>

  <div class="box">
    <h2>投稿者  <%= "abe "</h2> %>
    <h3>コメント</h3>
    <%= link_to '詳細',"/top/#{}", method: :get , class: "detail_link" %>
  </div>
</div>